/* Body Styles */

body {
  text-align: center;
  background-color: black;
  color: azure;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: azure;
}

.button {
  background-color: lightskyblue;
  padding: 6px 12px;
}

.button:hover {
  background-color: #377eaa;
}

/* Index Styles */

.odin {
  height: 150px;
}

.index {
  list-style: none;
}

/* Recipe Styles */

div {
  width: 50%;
  margin: auto;
}

div ul,
div ol {
  display: inline-block;
  text-align: left;
}

#hidden {
  list-style-type: none;
}

img {
  height: 200px;
}
